@import "../stylesheets/vars.scss";

.mod-registration {
  background-color: white;
  padding: 35px 0 65px 0;
  width: 100%;
  max-width: $medium;
  margin: 0 auto;

  .intro {
    padding: $medium-padding
  }

  .step-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $medium-padding;

    .step {
      border: 1px solid darken($primary-orange, 5%);
      color: darken($primary-orange, 15%);
      border-radius: $br;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      padding: 35px;
      min-width: 255px;

      .step-title {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 8px;
        font-weight: bold;
      }

      .step-sub {
        font-size: 16px;
      }

      svg.step-icon {
        font-size: 48px;
        margin: 15px 0;
        color: darken($primary-orange, 5%);
      }
    }

    .step-divider {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      color: lighten($primary-orange, 5%);
      font-size: 16px;

      svg.fa-circle {
        margin: 0 10px;
      }
    }
  }

  ul.steps {
    padding: $medium-padding;
    list-style: decimal;
    margin-bottom: $medium-padding;
    li {
      margin-bottom: 4px;
    }
  }


}
