@import "../stylesheets/vars.scss";

.header-container {

  background: white;
  margin: 0 auto;

  .header {
    max-width: $medium;
    margin: 0 auto 0 auto;
    padding: 6px 20px 0 20px;
    position: relative;
    transition: margin 150ms ease-in-out;
    display: flex;
    align-items: center;

    img.logo {
      height: 65px;
      margin: 10px 0;

      @media (max-width: $tablet-max) {
        display: none;
      }

    }

    .header-top {
      margin-top: 16px;
      display: flex;
      align-items: center;
      font-size: 24px;
      color: $primary-orange;
      width: 100%;

      p.title {

        margin-left: 20px;

        @media (max-width: $tablet-max) {
          display: none;
        }
      }

      a.help {
        margin-left: auto;
        color: $primary-orange;
        text-decoration: none;

        &:visited {
          color: $primary-orange;
        }

        &:hover {
          font-weight: bolder;
          color: $primary-orange;
        }

      }
    }


  }

}





